@page "/annoncekøb/{id:int}"
@using Core.Klasser
@using Genbrugsmarked.Service
@inject IAnnonceService annonceService

<h3>@annonce?.Titel</h3>

@if (annonce != null)
{
    <p>Beskrivelse: @annonce.Beskrivelse</p>
    <p>Pris: @annonce.Pris</p>
    <p>Oprettet: @annonce.OprettetDato.ToShortDateString()</p>
    
    <button class="btn btn-primary" @onclick="KøbAnnonce"
            disabled="@annonce.Status">
        @(annonce.Status ? "Reserveret" : "Køb")
    </button>
}
else
{
    <p>Indlæser annoncen...</p>
}

@code {
    [Parameter] public int id { get; set; }
    private Annonce annonce;

    protected override async Task OnInitializedAsync()
    {
        var alle = await annonceService.alleAnnoncer();
        annonce = alle.FirstOrDefault(a => a.AnnonceID == id);
    }


    private void KøbAnnonce()
    {
        annonce.Status = true;
    }
}